<launch>

    <master auto="start">
    
    <!-- run SLAM with RealsenseCamera D435i -->
    <include file="$(realsense2_camera)/launch/opensource_tracking.launch" />

    <!-- pcd to our map format -->
    <node pkg="uv_robot_ros" type="pcd_python.py" name="pcd_python" respawn="true"/>

    <!-- odom map -->
    <node pkg="uv_robot_ros" type="odometry.py" name="odemetry" respawn="true"/>
    
    <!-- run main.py -->
    <node pkg="uv_robot_ros" type="main.py" name="main" respawn="true"/>


    </master>

</launch>
